<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Пример: подключение статического CSS-файла -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <!-- Пример: подключение статического JS-файла -->
    <!--    <script type="text/javascript" src="/main/static/js/test.js"></script>-->
    <!-- Пример: вставка статического изображения -->

    <title>Title</title>
</head>
<body>
<header>
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
    <img class="header__img" src="/static/images/icon.png" alt="Your Image">
    <use xlink:href="#bootstrap"></use>
</a>
</header>
<h1>Hi, SKY!</h1>
<form method="post">
    {% csrf_token %}
    <input type="text" name="name"/><br>
    <input type="email" name="email"/><br>
    <textarea name="message"></textarea><br>
    <input type="submit" value="Submit"/><br>
</form>
</body>
</html>